<div id="history_modal" class="modal">
  <h4 style="margin-bottom:5px">Histórico</h4>
  <p>
    Possuímos o histórico que deu origem ao sobrenome para familias de certas regiões da Europa, tais como Portugueses, Espanhois e Italianos.
    Para saber se a sua família possuí histórico faça uma pesquisa online ou por telefone. Caso tenha, você pode solicita-lo juntamente
    com a encomenda do seu brasão em qualquer modelo do site.
  </p>
  <h4 style="margin-bottom:5px;">Simbologia</h4>
  <p>
    Na idade média, os simbolos e cores presentes no brasão não eram escolhidos de forma aleatória, e sim, sempre
    representavam algum mérito ou homenagem aos descendetes daquela família. O museu medieval realiza o estudo desta simbologia, e
    pode ser adquirido juntamente com a encomenda do seu brasão em qualquer modelo do site.
  </p>
  <div class="box" style="font-size:90%">
    1º - Caso sua família não possua histórico, apenas a simbologia será envianda.<br/>
    2º - O Histórico é enviado na língua em que esta escrita (a mesma de origem do sobrenome). Não fazemos traduções.
  </div>
  <center>
    <a href="" onclick="$('#history_modal').dialog('close'); return false;">
      <img src="/images/fechar.gif" alt="fechar"/>
    </a>
  </center>
</div>