<div id="junction_modal" class="modal">
  <h4 style="margin-bottom:5px">Junção de sobrenomes</h4>
  <p>
    Você pode juntar 2 sobrenomes no mesmo brasão, normalmente o sobrenome do marido com o da esposa, resultado em um nova brasão
    que pode ser usado por seus decentendes diretos.
  </p>
  <p>
    Em uma junção, o escudo é divido em 4 partes chamados quadrantes. O primeiro sobrenome (normalmente o do marido)  é desenhado
    no 1º e 3º quadrante e o segundo sobrenome fica no 2º e 4º quadrante.
  </p>
  <center>
    <a href="" onclick="$('#junction_modal').dialog('close'); return false;">
      <img src="/images/fechar.gif" alt="fechar"/>
    </a>
  </center>
</div>