<div id="comment-link" style="clear:both; color:#bFbFbF;padding:5px; margin:0em 0px 0 0; text-align:center">  
  <span style="font-size:120%;"><%= t :'.visited' %></span>
  <span style="font-size:120%; text-decoration:underline"><%= link_to_remote t(:'.tell_us'), :url => new_museum_comment_path, :method => :get, :html => {:style=>'color:#bFbFbF'} %></span>
</div>