<div style="text-align:left">  
	<h3 style="margin-bottom:5px;">
		<%= t :'.title' %>
	</h3>
	<p>
		<%= t :'.text' %>
	</p>
</div>
<center>
	<a href="" onclick="$(this).parents('.modal').dialog('close'); return false;">
		<img src="<%=t(:img)%>fechar.gif" alt="fechar"/>
	</a>
</center>