body {
  background:transparent url(/images/fundo.jpg) repeat scroll 0 0;  
}

img {
  border:0;
}

#background {
  background:transparent url("/images/faixa.png") repeat-x scroll 0 72px;
  min-height:500px;
}

#container {
  width:950px;
  margin:0 auto;
  text-align: left;
}

#waiting {
	width: 950px;
	text-align: center;
	position: absolute;
	top: 0px;
	display: none;
	z-index:999999;
}

#waiting div {
	background-color: #FFE1BA;
	margin: 0px 400px;
	padding: 4px 0px;
	font-size: 110%;
	font-weight: bold;
	font-family: Arial, sans-serif;
}

#i18n_flag {
	position: absolute; 
	width:500px; 
	text-align:center;
	top: 0px;
}

#i18n_flag a {
	font-size: 85%;
	text-decoration: none;
}

#i18n_flag img {
	vertical-align: top;
}


/* Header e menu */
#header {
  background:transparent url(/images/titulo950.jpg) no-repeat scroll 0 0;
  margin:0 auto;
  min-height:132px;
  width:950px;
  z-index:1;
}

#header .logo {
  float: left;
  width: 485px;
  text-decoration: none;
  z-index:1;
}

#header * a {
  display:block;
  text-decoration: none;
}

#header .logo a {
  height:80px;
  margin:20px 40px 40px;
}

#client-links {
  position:absolute;
  top:308px;
  margin-left: 313px;
  width:575px;
  z-index:0;
  text-align:right;
  color:#6F6F6F;
}

#client-links div {
  float: right;
  height: 80px;
  background-color:#1F1F1F;
  z-index:0;  
  font-size:97%;
  -moz-border-radius: 5px 5px 0 0px;
  -webkit-border-radius: 5px 5px 0 0px;
}

#client-links a {
  color:#6F6F6F;
  text-decoration: none;
}

#client-links a:HOVER {
  color:#8F8F8F;
  text-decoration: none;
}

.menu div {
  background:transparent url(/images/menu_fundo.jpg) no-repeat scroll 0 0;
  height:137px;
  width:67px;
  float: left;
  text-align:center;
}

.menu a {  
  color: #564e42;
  font-size:110%;
  font-weight:bold;
  padding-top: 80px;
}

.menu div a:HOVER, .menu .selected a {
		color: #ffffff;
}

.menu .selected {
  background:transparent url(/images/flag.png) no-repeat scroll 0 0;
}

/* menus */
.menu .castelo a {
  background:transparent url(/images/menu_castelo.gif) no-repeat scroll 0px 10px;
}

.menu .castelo a:HOVER {
  background-position: -67px 10px;
}

.menu .castelo_selected a {
  background:transparent url(/images/menu_castelo.gif) no-repeat scroll -134px 10px;
}

.menu .brasoes a {
  background:transparent url(/images/menu_brasoes.gif) no-repeat scroll 0px 10px;
}

.menu .brasoes a:HOVER {
  background-position: -67px 10px;
}

.menu .brasoes_selected a {
  background:transparent url(/images/menu_brasoes.gif) no-repeat scroll -134px 10px;
}

.menu .cutelaria a {
  background:transparent url(/images/menu_facas.gif) no-repeat scroll 0px 10px;
}

.menu .cutelaria a:HOVER {
  background-position: -67px 10px;
}

.menu .cutelaria_selected a {
  background:transparent url(/images/menu_facas.gif) no-repeat scroll -134px 10px;
}

.menu .souvenirs a {
  background:transparent url(/images/menu_espadas.gif) no-repeat scroll 0px 10px;
}

.menu .souvenirs a:HOVER {
  background-position: -67px 10px;
}

.menu .souvenirs_selected a {
  background:transparent url(/images/menu_espadas.gif) no-repeat scroll -134px 10px;
}

.menu .blog a {
  background:transparent url(/images/menu_pena.gif) no-repeat scroll 0px 10px;
}

.menu .blog a:HOVER {
  background-position: -67px 10px;
}

.menu .blog_selected a {
  background:transparent url(/images/menu_pena.gif) no-repeat scroll -134px 10px;
}

.menu .contato a {
  background:transparent url(/images/menu_mapa.gif) no-repeat scroll 0px 10px;
}

.menu .contato a:HOVER {
  background-position: -67px 10px;
}

.menu .contato_selected a {
  background:transparent url(/images/menu_mapa.gif) no-repeat scroll -134px 10px;
}

.header_end {
  background:transparent url(/images/topo-final950.jpg) no-repeat scroll 0 0;
  float:left;
  height: 124px;
  width:60px;
}

/* FAIXAS */
.faixa {
  height:265px;
  margin:-10px auto;
  z-index:100;
}

.faixa .inner-faixa {
  padding:60px 30px 0 510px;
  min-height:200px;
}

.faixa .inner-faixa img {
  margin-bottom:5px;
}

.faixa .inner-faixa span.search input {
  margin:0px;
}

.input_label {
  color: #D7E1E8;
}

.surname-find input.text {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  font-family: Helvetica,Arial,Sans-serif;
  font-size: 16px;
  width:288px;
  height:27px;
  padding:3px 10px;
  float: left;
  border:1px solid #DFDFDF;
  margin:0;
}

.surname-find span.search-img {
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  background: #BFBFBF url('/images/btn-search.png') repeat-x scroll 0 -15px;  
  border:1px solid #DFDFDF;
  margin-left:-0.3em;
  padding: 3px 10px 1px 10px;
  height:21px;
  float:left;
}

.faixa-castelo {
  background:transparent url(/images/castelo.jpg) no-repeat scroll 55px 0;
}

.faixa-brasoes {
  background:transparent url(/images/faixa_brasoes.jpg) no-repeat scroll 55px 0;
  margin:-12px auto;
  height:267px;
}

.faixa-cutelaria {
  background:transparent url(/images/cutelaria.jpg) no-repeat scroll 150px 0;
}

/* PERGAMINHO */
.pergaminho-topo-p1 {
  background:transparent url(/images/perg1.png) no-repeat scroll 56px 0;
  height:57px;
  margin-top:-56px;
  position:relative;
  z-index:400;
}

.pergaminho-topo-p2 {
  background:transparent url(/images/perg2.jpg) no-repeat scroll 0 0;
  height:202px;
  position:relative;
  z-index:400;
}

.pergaminho {
  background:transparent url(/images/pergm.jpg) repeat-y scroll 0 0;
}

.pergaminho-base {
  background:transparent url(/images/pergf.jpg) no-repeat scroll 0 0;
  height:250px;  
  margin-top: -140px;
}

#know {
  text-align:center;
}

/* CONTEXT */
#context {
  margin-top:-200px;
  position:relative;
  /*height:900px; fixo no layout*/
  z-index:500;
  padding:0 70px;
}

#inner-context {
 padding:20px 0 20px 40px;
 /*text-align: left;*/
 clear:both
}

#footer {
  margin-top:-15px;
  position:relative;
  padding:0 30px 0 30px;
}

/*submenu*/

.fotos, .fotos ul {
  margin: 0;
  padding: 0;
}

.fotos ul li {
  display:inline;
  padding-right:3px;
  padding-bottom:1px;
}

.more {
  text-align: right;
  font-size: 0.95em;
  font-weight:bold;
  padding-right:3px;
  
}

.more a {
  color: #C40000;
  text-decoration:none;
}

.more a:HOVER {
  color: #C40000;
  text-decoration:underline;
}

h6 {
  font-size: 1.1em;
}

label {
  font-weight:normal;
}

input.radio, input.check {
  margin:0 2px 0 0;
  top:2px;
}

blockquote {
	text-align: justify;
	margin:0px;
	margin-bottom: 4px;
	font-weight: bold;
}

.star {
	float: left;
	width:85px;
	height:15px;
}

.star-5 {
	background: transparent url(/images/stars.gif) no-repeat scroll 0 0;
}

.star-4 {
	background: transparent url(/images/stars.gif) no-repeat scroll -17px 0;
}

.star-3 {
	background: transparent url(/images/stars.gif) no-repeat scroll -34px 0;
}

.star-2 {
	background: transparent url(/images/stars.gif) no-repeat scroll -51px 0;
}

.star-1 {
	background: transparent url(/images/stars.gif) no-repeat scroll -68px 0;
}

.box {
    margin-bottom:1em;
    padding:10px;
    background-color:#DFDFDF
}

/* brasoes */
ul.list {
  margin:0;
}

ul.list a {
  text-decoration:none;
  color:#000000;
}

ul.list li {
  float:left;
  margin: 0 36px 2em 0;
  list-style: none;
  width:220px;
  height: 240px;
}

div.list-box {
  padding:1.5em 0em 0.8em 0em;
  line-height:1.2em;
  text-align:center;
  background-color: #FFF4E2;
  cursor:pointer;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
}

div.list-box .title {
	margin-bottom:8px;
	margin-top:5px;
	font-family: "Lucida Grande", Arial, "MS Trebuchet", sans-serif;
	font-size: 100%;
}

div.list-box:HOVER {
  background-color: #FFE1BC; /* #F7D29E; */
}

.price {
  color:#4882D6;
  font-weight:bold;
  font-size:110%;
  line-height: 2em;
}

.soldout {
  color: #C40000;
  font-weight:bold;
  font-size:110%;	
}

span.alert {
  color: #BC3B3F;
}

span.link {
  color: #000099;
  text-decoration: underline;
}


.produto_desc {
  width:390px;
  float: left;
  font-size: 110%;
}

.produto_desc h3 {
  margin-bottom: 15px;
}

.produto_desc p {
  font-size: 100%;
  margin-bottom:0.8em;
}

.produto_desc table {
  width:auto;
}

.produto_desc table td {
  padding:0;
}

.produto_desc input {
  top:0.10em;
}

/* encomenda */
table.encomenda {
  margin:30px 0 0 0;
  width: 740px;
}

table.encomenda thead th {
  background-color: #FFE1BC;
}

table.encomenda td {
  padding: 10px 5px;
}

table.encomenda input {
  margin:0;
}

table.encomenda tbody td {
  border-bottom:1px dotted #000000;
}

.form-box {
  margin:0 100px;
  background-color:#F6F6F6;
  padding:20px;
}

.form-box p {
  margin:0 0 10px 0 ;
}

.form-box label {
  font-weight:bold;
}

.form-box input, .form-box textarea {
  margin:0;
}

.form-box textarea {
  width:100%;
  height:120px;
}

.form-box .fieldWithErrors, .form-box .formError {
  display:inline;
  margin-right:5px;
}

.form-box .formError {
  color: red;
  font-weight:bold;
}

.pagination {
  text-align: center;  
  font-size:120%;
  float:left;
  clear:both;
  width:770px;
}

.prev_page {
  color: #8E0A12;
  background:transparent url(/images/seta_esquerda.gif) no-repeat 0 0;
  padding:1px 0 2px 36px;
  margin-right:5px;
}

.next_page {
  color: #8E0A12;
  background:transparent url(/images/seta_direita.gif) no-repeat 52px 0;
  padding:1px 50px 2px 0;
  margin-left:5px;
}

.login-box {
  padding:1.5em;
}

.login-box h5 {
  font-size: 100%;
  font-weight: bold;
  margin-bottom:0px;
  text-align:left;
}

.login-box p {
  margin:5px 0px;
  text-align:left;
}

.login-box input.text {
  margin:0px;
  padding:0px;
  width:200px;
}

.login-box label {
  float:left;
  width:60px;
  text-align:right;
  padding-right:10px;
}

.modal-error {
  font-size:90%;
  text-align:center;
  color: #8E0A12;
  font-weight:bold;
}

.client-box, .login_user {
  margin:0 70px;
}

.client-box table {
  width: auto;
}

.client-box td.label {
  text-align:right;
  width:130px;
}

.client-box td {
  /*vertical-align: text-top;*/
  padding:4px 4px;
}

.client-box .subtitle {
  font-size: 110%;
  font-weight:bold;
  padding-top: 1em;
}

.client-box select.text, .client-box input.text {
  margin: 0;
  padding: 2px 0;
}

.client-box input.text {
  width:200px;
}

.order-data h3 {
  margin-bottom: 10px;
}

.order-data p {
  margin:4px 0px;
}

.order-data label {
  padding-right:10px;
  float:left;
  text-align:right;
}

.order-data td.label {
  text-align:right;
}

.fieldWithErrors, .formError {
  display: inline;
}

.formError {
  margin-left:0.5em;
  color:#AF0000;
  font-size:90%;
  font-weight:bold;
}

.buttons {
  text-align: right;
}

/* JQUERY */
.ui-dialog-titlebar {
  display: none;
}

.ui-widget-content {
    background:#FFFFFF none repeat scroll 0 0;
}