<h1>Atualizar cuteleiro</h1>

<% form_for [:admin, @cutler] do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

<%= link_to 'Voltar', admin_cutlers_path %>