<% content_for :javascript do %>
	$(function() {
		loadFromFlicker( $('#flickr-escola'), 'escola', 8);
	});
<% end %>

<div style="text-align:left; float:left; width:240px">
	<div id="flickr-escola" class="fotos" style="text-align:center"> </div>
</div>
<div style="margin-left:260px;">
	<h5 style="margin-bottom:5px; font-size:120%; text-align:left">
		<%= t :'.title' %>
	</h5>
	<p style="text-align:justify">
		<%= t :'.text' %>
	</p>
	<p style="text-align:center; margin-top:25px">
		<%= link_to t(:'.contact'), contact_path(:anchor => 'form') %>
	</p>		
</div>