<% content_for :title do %>
  | <%=  t :'brasoes.title' %> | <%= t :'client_searches.title' %>
<% end %>
<% content_for :context_height do %>
  950px
<% end %>

<div id="inner-context">
  <div style="margin-right:30px">
    <div>
    <% link_to brasoes_path, :style => 'text-decoration:none;' do %>
      <img src="<%= t :img %>brasoes.gif" alt="Pesquisa no acervo" style="vertical-align:middle;float:left; margin-right:0.5em"/>
    <% end %>
      <div style="padding-top:8px;font-weight:bold;"> &gt;&gt; <%= t :'client_searches.title' %></div>
    </div>
	<br/><br/>

	<p style="font-size:110%">
        No momento estamos realizado pesquisas no acervo únicamente por telefone. 
        <br/><strong>Ligue para (54) 3286.3697</strong> em horário comercial, pesquisa gratuita.
        </p>

	

  </div>
</div>
